

<div class="page" *ngIf="!showNextCard; else nextCard">
  <!-- Top breadcrumb -->
  <div class="crumb">
    <span>Course Registration</span>
    <span class="badge">In progress</span>
  </div>

  <!-- Card -->
  <div class="card">
    <div  class="stepper">
      <div class="row dots">
        <div class=" col-md-6">
          <span class="dot active">1</span>
          <!--          <span class="line"></span>-->
          <div class="progress">
            <div class="bar" style="width:10%"></div>
          </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3"></div>

        <!--        <span class="line"></span>-->
        <!--        <span class="dot">2</span>-->
      </div>
    </div>
    <!-- Stepper -->
    <!--    <div class="stepper">-->
    <!--      <div class="dots">-->
    <!--        <span class="dot active">1</span>-->
    <!--        <span class="line"></span>-->
    <!--        <span class="dot">2</span>-->
    <!--      </div>-->
    <!--      <div class="progress">-->
    <!--        <div class="bar" style="width: 50%"></div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!-- Title -->
    <h2 class="title">IRR Training Program Enrollment</h2>
    <p class="sub">Digitalized collects this information to better understand and serve your business.</p>

    <!-- Form -->
    <form class="form" novalidate>
      <div class="grid">
        <!-- Name -->
        <label class="field">
          <span class="label">Name</span>
          <input
            class="input"
            type="text"
            [(ngModel)]="name"
            name="fullName"
          />
        </label>

        <!-- Contact Number -->
        <label class="field">
          <span class="label">Contact Number</span>
          <input
            class="input"
            type="tel"
            [(ngModel)]="contactNumber"
            name="contactNumber"
          />
        </label>

        <!-- Email -->
        <label class="field">
          <span class="label">Email Address</span>
          <input
            class="input"
            type="email"
            [(ngModel)]="email"
            placeholder="abc@gmail.com"
            name="email"
          />
        </label>


        <!-- Training Mode -->
        <label class="field">
          <span class="label">Training Mode</span>
          <select
            class="input"
            name="trainingMode"
            [(ngModel)]="trainingMode"
            (change)="setTrainingMode(trainingMode)"
          >
            <option value="" disabled selected>Select</option>
            <option *ngFor="let m of modes" [value]="m">{{ m }}</option>
          </select>
        </label>

        <label class="field grid-span-2">
          <span class="label">Program Selection</span>
          <select class="input" name="program" [(ngModel)]="selectedProgram"
                  (change)="setSelectedProgram(selectedProgram)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let program of programs" [value]="program.program_name">
              {{ program.program_name }}
            </option>
          </select>
        </label>

      </div>

      <button type="button" class="btn" (click)="validate()">Proceed for Payment →</button>
    </form>
  </div>

</div>





<ng-template #nextCard>
  <div class="page">
    <!-- Second form content -->


    <!-- Top breadcrumb -->
    <div class="crumb">
      <span>Course Registration</span>
      <span class="badge">In progress</span>
    </div>

    <!-- Card -->
    <div class="card">
      <div  class="stepper">
        <div class="row dots">
          <div class=" col-md-6">
            <span class="dot active">1</span>
            <!--          <span class="line"></span>-->
            <div class="progress">
              <div class="bar" style="width:10%"></div>
            </div>
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3"></div>

          <!--        <span class="line"></span>-->
          <!--        <span class="dot">2</span>-->
        </div>
      </div>
      <!-- Stepper -->
      <!--    <div class="stepper">-->
      <!--      <div class="dots">-->
      <!--        <span class="dot active">1</span>-->
      <!--        <span class="line"></span>-->
      <!--        <span class="dot">2</span>-->
      <!--      </div>-->
      <!--      <div class="progress">-->
      <!--        <div class="bar" style="width: 50%"></div>-->
      <!--      </div>-->
      <!--    </div>-->

      <!-- Title -->
      <h2 class="title">IRR Training Program Enrollment</h2>
      <p class="sub">Digitalized collects this information to better understand and serve your business.</p>

      <!-- Form -->
      <form class="form" novalidate>
        <div class="grid">
          <!-- Program Name -->
          <label class="field">
            <span class="label">Program Name</span>
            <input class="input" type="text" [(ngModel)]="selectedProgram" name="programName" />
          </label>

          <!-- Program Expenditure -->
          <label class="field">
            <span class="label">Program Expenditure</span>
            <input class="input" type="tel" [(ngModel)]="programPrice" name="programExpenditure" />
          </label>
        </div>

        <button type="button" class="btn" (click)="finalize()">Finalize →</button>
      </form>

    </div>

  </div>
</ng-template>
